*,
*::after,
*::before {
  padding :0 ;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./img/back1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 15px; 
}

.btn-container
.btn-container-log{
  display: flex;
  gap: 10px;
  margin: 0 15px;
}

.recipes-menu,
.recipes-categories,
.create-recipe,
.log-in,
.home-btn,
.log-out {
  width: 110px;
  height: 25px;
  border-radius: 7px;
  border: none;
  background-color: rgba(165, 163, 163, 0.747);
  color: white;
}

/* Homepage */

.main-container-homepage{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 50px;
  font-size: 30px;
}

/* Log In/ Sign Up */

.in-main-container-log-in, .html-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.html-form{
  margin-top: 100px;
  gap: 10px;
  background-color: rgba(165, 163, 163, 0.829);
  box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  -webkit-box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  -moz-box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  padding: 20px;
  width: 290px;
  height: 380px;
}

.log-btn, .create-account, .logout {
  width: 100px;
  height: 40px;
  border: none;
  background-color: rgb(77, 77, 77);
  color: white;
  border-radius: 20px
}

.sign-up{
  cursor: pointer;
  font-weight: 800;
}

.create-account{
  margin-top: 25px;
}

.user-busy, .incorrect-user{
  color: red;
}

/* Create new recipe */

.create-new-recipe{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
}

.create-new-recipe-container{
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(165, 163, 163, 0.829);
  box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  -webkit-box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  -moz-box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  min-height: 500px;
  padding-top: 35px;
  overflow: auto;
}

.inputName,
.inputDescription,
.inputContainer,
.categories-dropdown{
  width: 250px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

.inputContainer{
background-color: white;
display: flex;
border: 2px solid rgb(118, 118, 118);
margin: 2px;
}

.inputIngredients{
border: none;
width: 90%;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
text-align: center;
}

.addBtn{
  border: none;
  width: 10%;
  background-color: white;
  padding: 1px 4px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.submitBtn{
  width: 110px;
  height: 25px;
  border-radius: 7px;
  border: none;
  background-color: rgba(100, 100, 100, 0.747);
  color: white;
  margin: 20px;
}

.prepTxt{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.recipe{
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.prep-time-container{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

.hour, .minute {
  height: 20px;
  width: 35px;
  text-align: center;
}

.preptime{
  display: flex;
  flex-direction: column;
} 

.modalWrapper{ 
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #f9f9f9e0;
  padding: 0 70px 80px 70px;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family:'Lobster', cursive; 
  font-size: 20px;
  
  
}

.modal > h1, ul, p {
  margin: 20px;
}

.modal-btn{
  align-self: flex-end;
  margin: 10px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: rgba(197, 0, 0, 0.877);
  color: white;
  transition-duration: 0.5s;
}

.recipesContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background-color: rgba(100, 100, 100, 0.747);
  margin: 20px;
}

.recipesContainer > div {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  -webkit-box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  -moz-box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  padding: 20px;
  text-align: center;
  font-family:'Lobster', cursive; 
  margin: 20px;
  justify-content: space-between; 
}

.goToRecipeBtn{
  width: 100%;
  cursor: pointer;
  font-family:'Lobster', cursive; 
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.goToRecipeBtn:hover {
  transition: 200ms ease-in-out;
  box-shadow: 0px 0px 18px 9px rgba(255, 255, 255, 0.795);
  -webkit-box-shadow: 0px 0px 18px 9px rgba(255, 255, 255, 0.795);
  -moz-box-shadow: 0px 0px 18px 9px rgba(255,255,255, 0.795);
}

.categories-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  
}

.categories-container > button {
  height: 250px;
  width: 350px;
  margin: auto;
  padding: auto;
  border-radius: 20px;
  border: none;
  font-size: 35px;
  font-family:'Lobster', cursive;
}

.category-title {
  text-align: center;
  margin: 10px;
}

.vegetarian{
  background-image: url(./img/vegetarian.jpeg);
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 177, 9, 0.911);
  color: white;
}

.salad{
  background-image: url(./img/salad.jpg);
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 177, 9, 0.911);
  color: white;
}

.meat{
  background-image: url(./img/meat.png);
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(247, 81, 40, 0.911);
  color: white;
}

.dessert{
  background-image: url(./img/dessert.jpg);
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 35, 101, 0.911);
}

.pasta{
  background-image: url(./img/pasta.jpg);
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(223, 182, 4, 0.836);
}

.gluten-free{
  background-image: url(./img/gluten\ free.jpg);
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(129, 78, 0, 0.911);
}

.username-inp,
.password-inp{
  padding: 3px 6px;
}