body{
  background-image: url(./img/back1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
   
}

header{
  display: flex;
  justify-content: space-between;
  
}

.btn-container
.btn-container-log{
  display: flex;
  gap: 10px;
  margin: 0 15px;
}

.recipes-menu,
.recipes-categories,
.create-recipe,
.log-in,
.home-btn,
.log-out {
  width: 110px;
  height: 25px;
  border-radius: 7px;
  border: none;
  background-color: rgba(165, 163, 163, 0.747);
  color: white;
}

/* Homepage */

.main-container-homepage{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 50px;
  font-size: 30px;
}

/* Log In/ Sign Up */

.in-main-container-log-in, .html-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.html-form{
  margin-top: 100px;
  gap: 10px;
  background-color: rgba(165, 163, 163, 0.829);
  box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  -webkit-box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  -moz-box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  padding: 20px;
  width: 250px;
  height: 380px;
}

.log-btn, .create-account, .logout {
  width: 100px;
  height: 40px;
  border: none;
  background-color: rgb(77, 77, 77);
  color: white;
  border-radius: 20px
}

.sign-up{
  cursor: pointer;
  font-weight: 800;
}

.create-account{
  margin-top: 25px;
}

.user-busy, .incorrect-user{
  color: red;
}

/* Create new recipe */

.create-new-recipe{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
}

.create-new-recipe-container{
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(165, 163, 163, 0.829);
  box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  -webkit-box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  -moz-box-shadow: 0px 0px 58px 0px rgba(0,0,0,1) inset;
  min-height: 500px;
  padding-top: 35px;
  overflow: auto;
}

.inputName,
.inputDescription,
.inputContainer,
.categories-dropdown{
  width: 250px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

.inputContainer{
background-color: white;
display: flex;
border: 2px solid rgb(118, 118, 118);
margin: 2px;
}

.inputIngredients{
border: none;
width: 90%;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
text-align: center;
}

.addBtn{
  border: none;
  width: 10%;
  background-color: white;
  padding: 1px 4px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.submitBtn{
  width: 110px;
  height: 25px;
  border-radius: 7px;
  border: none;
  background-color: rgba(100, 100, 100, 0.747);
  color: white;
  margin: 20px;
}

.prepTxt{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.recipe{
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.prep-time-container{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

.hour, .minute {
  height: 20px;
  width: 35px;
  text-align: center;
}

.preptime{
  display: flex;
  flex-direction: column;
}
